.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#avatar-img {
  height: 12vw;
  width: auto;
  /* vertical-align: middle;
  border-radius: 50%; */
}

#user-card {
  padding: 1vw 1vw 1vw 1vw;
  margin-left: 2vw;
}

/* #media-img {
  height: 20vw;
  width: auto;
}

#media-vid {
  height: 20vw;
  width: auto;
} */

.media-item {
  width: 20vw;
  max-height: 40vh;
  padding: 0vw 1vw 0vw 1vw;
}

#category-header {
  /* margin-bottom: -1vw; */
  width: 18vw;
  padding: 0.55vw 3vw 0.55vw 3vw;
}

#site-title {
  font-size: 1.85vw;
  margin-left: -28vw;
}

#media-desc {
  margin-top: -0.25vw;
  margin-bottom: 1vw;
  width: 18vw;
  padding: 0.55vw 3vw 0.55vw 3vw;
}

/* START MediaUpload CSS */

#profile {
  position: absolute;
  left: 13vw;
  right: 13vw;
}

#profile-bg-pic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.8;
  filter: brightness(.9);
}

/* END MediaUpload CSS */




/* START MEDIA-UPLOAD CSS */

.form-input {
  font-size: 1.2vw;
}

#resume-container {
  margin-top: 2vw;
}

#resume {
  margin-right: .75vw;
}

.resume-embed {
  position: relative;
  padding: 1vw 1vw 1vw 1vw;
}

#label {
  width: 525px;
  height: 800px;
  margin-top: -2vw;
  z-index: -1;
}

#resume-col {
  margin-left: 2vw;
  margin-top: -2vw;
}

#media-upload {
  position: absolute;
  top: 10vw;
  left: 15vw;
  right: 15vw;
  margin-top: 5vw;
}

#upload-pic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.8;
}

/* END MEDIA-UPLOAD CSS */


/* START HOMEPAGE CSS */

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 108vw;
  height: auto;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* END HOMEPAGE CSS */

/* START NAV-MENU CSS */

#nav-menu {
  background-color: lightgrey;
  opacity: 0.9;
  height: 2vw;
  font-size: 1vw;
}

/* END NAV-MENU CSS */
