.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#avatar-img {
  height: 12vw;
  width: 12vw;
  vertical-align: middle;
  border-radius: 50%;
}

#media-img {
  height: 30vw;
  width: auto;
}

#site-title {
  font-size: 2.55vw;
}

/* START MediaUpload CSS */

#profile {
  position: absolute;
  left: 20vw;
  right: 20vw;
}

/* END MediaUpload CSS */




/* START MEDIA-UPLOAD CSS */

.form-input {
  font-size: 1.75vw;
}

#resume-container {
  margin-top: 2vw;
}

#resume {
  margin-right: .75vw;
}

#media-upload {
  position: absolute;
  top: 10vw;
  left: 15vw;
  right: 15vw;
  margin-top: 5vw;
}

#upload-pic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
  z-index: -1;
  opacity: 0.9;
}

/* END MEDIA-UPLOAD CSS */


/* START HOMEPAGE CSS */

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* END HOMEPAGE CSS */

/* START NAV-MENU CSS */

#nav-menu {
  background-color: rgb(165	197	209	);
  opacity: 0.9;
  height: 4vw;
  font-size: 1.35vw;
}

/* END NAV-MENU CSS */
